BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
PointerAlignment: Right
ColumnLimit: 120
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
